name: Release

on:
  push:
    tags: [ "v*.*.*" ]

jobs:
  release:
    runs-on: windows-2025
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Set up Task
        uses: go-task/setup-task@v1

      - name: Set up Nushell
        run: |
          winget install --id=Nushell.Nushell --accept-source-agreements --accept-package-agreements
          "$env:LOCALAPPDATA\Programs\nu\bin" | Out-File -FilePath "$env:GITHUB_PATH" -Append

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Build
        run: task release

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            bin/*.exe
