name: Update Bing wallpaper metadata

on:
  schedule:
    - cron: "00 23 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Set up Xpic
        run: cargo install xpic

      - name: Export metadata
        run: xpic export -o data

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add data/*.json
          git commit -m "chore: update Bing wallpaper metadata" || exit 0
          git push
